body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(226, 140, 108);
}

.main-card {
    margin-top: 20px;
    min-width: 340px;
    background-color: white;
    border-radius: 2%;
    padding: 10px;
}

h1 {
    text-align: center;
}

.row-div {
    border-radius: 3%;
    margin: auto 35px;
}

.row-div input {
    width: 100%;
    margin-top: 0px;
}

.row-div p {
    margin-left: 1px;
    margin-bottom: 1px;
}

.singup-div {
    margin: auto 30px;
}

.singup-div button {
    align-self: center;
    width: 100%;
    height: 30px;
    color: white;
    background-color: #006989;
    letter-spacing: 1px;
    border-width: 0px;
    border-radius: 3px;
    margin: 20px 0px;
    margin-left: 4px;
}

.singup-div button:hover {
    background-color: #005C78;
}
